<!-- Panel Form Edit -->

<div id="formEditPanel" class="form-panel">
    <h3>Edit Sensor Panel</h3>
    <label for="EditpanelType">Panel Type:</label>
    <select id="EditpanelType">
        <option value="wall">Building Part</option>
        <option value="cctv">Sensor</option>
        <option value="zone">Zone</option>
    </select>
    <label for="EditpanelName">Panel Name:</label>
    <input type="text" id="EditpanelName">
    <label for="EditapiInput">API Integration:</label>
    <input type="text" id="EditapiInput">
    <div class="form-buttons">
        <button id="saveBtn">Save</button>
        <button id="cancelEditBtn">Cancel</button>
    </div>
</div>


<!-- End of Panel Form Edit -->